@using WebBanOto.Models
@using PagedList.Mvc;
@model PagedList.PagedList<YEUCAU>

@{
    ViewBag.Title = "Dangki";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐĂNG KÍ LÁI THỬ</h2>

@using (Html.BeginForm("Dangki", "Admin", FormMethod.Get)) // -- phần thay đổi
{
    <p>
        Ngày: <input type="date" name="ngay"/> <input type="submit" value="TÌM KIẾM" />
    </p>
}
<table class="table" border="1">
    <tr>
        <th style="width:200px">  Họ tên </th>
        <th style="width:100px">  Điện thoại  </th>
        <th style="width:200px">  Email    </th>
        <th style="width:100px">  Ngày  </th>
        <th style="width:100px">  Giờ </th>
        <th style="width:200px">  Xe </th>
        <th style="width:200px">  </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIO.Gio1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XE.Tenxe)
            </td>
            <td>

                @Html.ActionLink("Xóa", "Xoadk", new { id = item.MaYC })

            </td>
        </tr>
    }

</table>
<div class="f">
    @* Tao liên kết các trang  *@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

</div>
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Dangki", new { page = page }))
</div>


<style type="text/css">

    .f {
        position: relative;
        clear: both;
    }

    .MenuTrang li {
        display: inline;
    }
</style>