@model WebBanOto.Models.XE

@{
    ViewBag.Title = "Sua";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHỈNH SỬA THÔNG TIN XE</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Maxe)
    <div class="form-group">
        <p style="float:left">Mã xe</p>
        <div class="col-md-10">
            <div style="font:18px; padding: 5px 0 0 5px"> @ViewBag.Maxe</div>
        </div>
    </div>
    <div class="form-group">
        <p style="float:left">Tên xe</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tenxe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tenxe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Giá bán</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Mô tả</p>
        <div class="col-md-10">
            <textarea name="Mota">@Model.Mota</textarea>


        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Ảnh xe</p>
        <div class="col-md-10">
            Chọn ảnh mới
            <input type="file" name="fileUpload" />
            <img src="~/Hinhsanpham/@Model.Anhxe" width="120" /> (Ảnh hiện tại)

            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Năm sản xuất</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Namsanxuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Namsanxuat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Số lượng tồn</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Ưu đãi</p>
        <div class="col-md-10">
            <textarea name="Uudai">@Model.Uudai</textarea>
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Dòng xe</p>
        <div class="col-md-10">
            @Html.DropDownList("MaDX")
        </div>
    </div>

    <div class="form-group">
        <p style="float:left">Hãng xe</p>
        <div class="col-md-10">
            @Html.DropDownList("MaHX")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SỬA" class="btn btn-default" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("QUAY VỀ", "Xe")
    </div>
