@model WebBanOto.Models.LIENHE

@{
    ViewBag.Title = "Sualh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>CHỈNH SỬA LIÊN HỆ</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLH)

        <div class="form-group">
            <p style="float:left">Địa chỉ</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="float:left">Email</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="float:left">Số điện thoại</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="float:left">Facebook</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="float:left">Instagram</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.INS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SỬA" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("QUAY VỀ", "Lienhe")
    </div>
