@model WebBanOto.Models.YEUCAU

@{
    ViewBag.Title = "Xoadk";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>

<h3>
    Bạn quyết định xóa đăng kí này?
</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Ngày
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            Giờ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIO.Gio1)
        </dd>

        <dt>
            Xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XE.Tenxe)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="XÓA" class="btn btn-default" /> |
        @Html.ActionLink("QUAY LẠI", "Dangki")
    </div>
    }
</div>
