@model WebBanOto.ViewModels.DKViewModels
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="Text-align:Center; color:red">TEST DRIVE</h3>
<h4>Please ensure that your information is accurate.</h4>
<table align="center">

    @using (Html.BeginForm("Test", "Nguoidung"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Full name* </td>
            <td>
                @Html.TextBoxFor(m => m.Hoten, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Hoten)
            </td>
        </tr>

        <tr style="height:40px">
            <td> Phone number </td>
            <td>
                @Html.TextBoxFor(m => m.Dienthoai, new { @class = "form-control" })

            </td>
        </tr>


        <tr style="height:40px">
            <td> Email* </td>
            <td>
                <input type="email" name="Email" />
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>



        <tr style="height:40px">
            <td> Day* </td>
            <td>

                <input type="date" name="Ngay" />
                @Html.ValidationMessageFor(m => m.Ngay)
               


            </td>
        </tr>

        <tr style="height:40px">
            <td> Time* </td>
            <td>
                @Html.DropDownListFor(m => m.GIO,
            new SelectList(Model.Gios, "MaG", "Gio1"), "", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.GIO)

            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <button type="submit" value="Save" class="btn btn-primary">Send</button>
            </td>
        </tr>
    }
</table>

