@using WebBanOto.Models
@using PagedList.Mvc;
@model PagedList.PagedList<XE>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="Text-align:Center; color:red"> CARS </h3>
<div class="row">
    @foreach (var xe in Model)
    {
        <div class="row" style="width:30.3%;float:left">
            <a href="@Url.Action("Details","CarStore",new {id= xe.Maxe })">
                <img alt="@xe.Tenxe" src="~/Hinhsanpham/@xe.Anhxe" width="230" height="230" />

                <div>
                    <br />
                    <h4 style="text-align:center">
                        @xe.Tenxe
                    </h4>
                    <p></p>
                </div>
            </a>
            <p style="text-align:center">
                <strong>About $ </strong> @xe.Giaban
            </p>
        </div>
    }


</div>
<div class="f">
    @* Tao liên kết các trang  *@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

</div>
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page }))
</div>


<style type="text/css">

    .f {
        position: relative;
        clear: both;
    }

    .MenuTrang li {
        display: inline;
        position: relative;
        top: 1300px;
        
    }
</style>


